# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock        # optional, but recommended to keep for apps

# Android
android/.gradle/
android/local.properties
android/captures/
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.ipa

# Environment & Keys
.env
google-services.json     # agar sensitive hai
GoogleService-Info.plist # agar sensitive hai

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db