# Flutter/Dart
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/.gradle/
android/local.properties
android/captures/
*.apk
*.aab

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
*.ipa

# Environment & Keys
.env

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Compiled files
*.exe
*.o
*.obj
